@import "tailwindcss";

:root {
  --color-text-primary: #111827;
  --color-bg: #ffffff;
  --color-header-bg: #f3f4f6;
  --color-underline: #e5e7eb;
  --color-text-meta:  #6b7280;

  --font-size-header: 1.5rem;   /* 24px */
  --font-size-nav:    1.5rem;     /* 24px */
  --font-size-title:  1.125rem;  /* 20px */
  --font-size-meta:   0.875rem; /* 14px */

  --line-height-header: 1.4;
  --line-height-nav:    1.2;
  --line-height-title:  1.4;
  --line-height-meta:   1.4;
}

body {
  color: var(--color-text-primary);
  background: var(--color-bg);
  font-family: var(--font-inter), system-ui, sans-serif;  
}